<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ticker}} data </title>
    	<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
       <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
	   {{graphscript|safe}}
    </head>
	<body>
		<div>
  			<h1>Generated graph for {{ticker|safe}}</h1>	
     <p>
 
            <a href='index'>BACK </A>
     </p>
     <p>
             {{graphdiv|safe}}
     </p>
</form>
     
     
     </div>
	</body>
</html>
